
*.cache
VoyageurDeCommerce/VoyageurDeCommerce/obj/Debug/VoyageurDeCommerce.csproj.GenerateResource.cache
VoyageurDeCommerce/VoyageurDeCommerce/bin/Debug/VoyageurDeCommerce.exe
VoyageurDeCommerce/VoyageurDeCommerce/bin/Debug/VoyageurDeCommerce.exe
VoyageurDeCommerce/VoyageurDeCommerce/bin/Debug/VoyageurDeCommerce.pdb
VoyageurDeCommerce/VoyageurDeCommerce/obj/Debug/VoyageurDeCommerce.csproj.CoreCompileInputs.cache
VoyageurDeCommerce/VoyageurDeCommerce/obj/Debug/VoyageurDeCommerce.csproj.AssemblyReference.cache
VoyageurDeCommerce/VoyageurDeCommerce/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
VoyageurDeCommerce/VoyageurDeCommerce/obj/Debug/VoyageurDeCommerce.csproj.FileListAbsolute.txt
VoyageurDeCommerce/VoyageurDeCommerce/obj/Debug/VoyageurDeCommerce.csproj.GenerateResource.cache
VoyageurDeCommerce/VoyageurDeCommerce/obj/Debug/VoyageurDeCommerce.pdb
VoyageurDeCommerce/VoyageurDeCommerce/obj/Debug/VoyageurDeCommerce.exe
VoyageurDeCommerce/VoyageurDeCommerce/obj/Debug/VoyageurDeCommerce_MarkupCompile.cache
VoyageurDeCommerce/VoyageurDeCommerce/obj/Debug/VoyageurDeCommerce_MarkupCompile.lref
VoyageurDeCommerce/VoyageurDeCommerce/bin/Debug/VoyageurDeCommerce.exe
VoyageurDeCommerce/VoyageurDeCommerce/bin/Debug/VoyageurDeCommerce.pdb
VoyageurDeCommerce/VoyageurDeCommerce/obj/Debug/VoyageurDeCommerce.csproj.CoreCompileInputs.cache
VoyageurDeCommerce/VoyageurDeCommerce/obj/Debug/VoyageurDeCommerce.csproj.AssemblyReference.cache
VoyageurDeCommerce/VoyageurDeCommerce/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
VoyageurDeCommerce/VoyageurDeCommerce/obj/Debug/VoyageurDeCommerce.csproj.FileListAbsolute.txt
VoyageurDeCommerce/VoyageurDeCommerce/obj/Debug/VoyageurDeCommerce.csproj.GenerateResource.cache
VoyageurDeCommerce/VoyageurDeCommerce/obj/Debug/VoyageurDeCommerce.pdb
VoyageurDeCommerce/VoyageurDeCommerce/obj/Debug/VoyageurDeCommerce.exe
VoyageurDeCommerce/VoyageurDeCommerce/obj/Debug/VoyageurDeCommerce_MarkupCompile.cache
VoyageurDeCommerce/VoyageurDeCommerce/obj/Debug/VoyageurDeCommerce_MarkupCompile.lref
